<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-title">
    <ion-title class="text-weight ion-no-padding">{{'farmTitle' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
    <ion-searchbar class="ion-padding-horizontal" placeholder="{{'search' | translate}}" [(ngModel)]="searchValue">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="ion-padding">
    <ion-item lines="none" class="ion-margin-bottom" color="primary" *ngFor="let farm of filteredSearch()"
      (click)="selectLocation(farm)">
      <ion-label class="text-weight farm-item-color">{{farm.name}}</ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>