/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @font-face {
//   font-family: Poppings;
//   src: url('./assets/fonts/poppins-regular.woff2');
// }

// * {
//   font-family: Poppings !important;
// }

.modal-dni {
  background-color: rgba(27, 147, 49) !important;
  // --max-height: 250px;
  // --min-height: 310px;
  --height: 70vh;
  --width: 95vw;
  .modal-wrapper {
    border-radius: 16px;
  }
  ion-toolbar {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.modal-alert {
  background-color: rgba(217, 152, 1, 0.9) !important;
  .modal-wrapper {
    background-color: transparent !important;
    .ion-page {
      background-color: transparent !important;
    }
  }
}

.modal-card {
  background-color: rgba(0, 0, 0, 0.6) !important;
  // --max-height: 250px;
  // --min-height: 310px;
  --height: 60vh;
  --width: 90vw;
  .modal-wrapper {
    border-radius: 16px;
  }
}

.modal-done {
  background-color: rgba(0, 0, 0, 0.6) !important;
  // --max-height: 250px;
  // --min-height: 310px;
  --height: 60vh;
  --width: 80vw;
  .modal-wrapper {
    border-radius: 16px;
  }
}
